<section class="userpage">
    <div class="user-container">
        <img src=<%=@user.photo %> alt="user photo">
        <div class="name-and-counter">
            <h1>
                <%= @user.name %>
            </h1>
            <h3 id="post-counter">Number of posts: <%= @user.posts_counter %>
            </h3>
        </div>
    </div>
    <hr>
    <div class="bio">
        <h2>Bio</h2>
        <p>
            <%= @user.bio %>
        </p>
    </div>
    <hr>
    <div class="recent-posts">
        <% @user.most_recent_posts.each do |post| %>
            <a href="<%=@user.id%>/posts/<%=post.id%>">
                <h2><%= post.title %>
                </h2>
                <p id="post-text">
                    <%= post.text.split[0..80].join(" ") %>
                </p>
                <div class="comment-like">
                    <span class="comments">Comments: <%= post.comments_counter%>, </span>
                    <span class="likes">Likes:<%= post.likes_counter%></span>
                </div>
            </a>
            <% end %>
            <a href="<%=@user.id%>/posts/" class="button">See all posts</a>
    </div>
</section>