<h1>Welcome to post show page</h1>

<section class="card left">

  <div class="card">
    <h2><%= @post.title %></h2>
    <p><%= @post.text %></p>
    <div class="right">
      <span>Comments: <%= @post.comments_counter %></span>
      <span>Likes: <%= @post.likes_counter %> </span>
    </div>
    <div class="right my-1 flex justify-end">
      <%= link_to "Add comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id ), class: "btn" %>
      <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
        <%= form.submit "Add Like", class: "btn" %>
      <% end %>
    </div>
  </div>

  <div class="commets-container">
    <h4>Comments:</h4>
    <ul>
      <% @post.comments.each do |comment| %>
        <p><%= comment.author.name %>: <%= comment.text %></p>
      <% end %>
    </ul>
  </div>
  <div class="center">
    <%= link_to "Back to posts", user_path(id: @post.author_id), class: "btn my-1" %>
  </div>

</section>
